@import 'tailwindcss';
@import '@creativelabfront/ui';
@import './utilities-classes.css';

@layer components {
  .header {
    @apply border-b border-b-header-border h-[82px] w-full px-10;
  }
  .header .logo-place {
    @apply flex items-center;
  }
  .header .container {
    @apply flex items-center h-full;
  }
  .header .right {
    @apply ml-auto h-full;
  }
  .header .item {
    @apply flex h-full justify-center align-middle items-center cursor-pointer px-4;
  }
  .header .item:hover {
    @apply bg-header-hover;
  }

  .hero {
    @apply size-full flex flex-col py-12;
  }

  .hero .content {
    @apply flex size-full;
  }
  .hero .heading {
    @apply h-full basis-1/2 p-5 flex flex-col gap-10 relative z-1;
  }
  .hero .heading .gradient-text {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-r from-hero-gradient-step1 via-hero-gradient-step2 to-hero-gradient-step3;
  }
  .hero .heading .gradient-button {
    @apply bg-gradient-to-tr from-hero-button-gradient-step1 to-hero-button-gradient-step2;
  }
  .hero .heading .gradient-button:hover {
    @apply bg-gradient-to-tl;
  }
  .hero .representing {
    @apply basis-1/2 flex relative z-1 py-10;
  }
  .hero .representing img {
    @apply absolute bottom-8 right-5;
  }

  .feature-badge {
    @apply relative z-1 w-37 h-13;
  }

  .feature-badge.highlight-experience::after {
    content: '';
    @apply absolute size-40 -inset-4 rounded-2xl bg-gradient-to-tr from-chart-5 z-0
        to-chart-3 blur-xl opacity-100;
  }
  .feature-badge.highlight-projects::after {
    content: '';
    @apply absolute size-40 -inset-4 rounded-2xl bg-gradient-to-tr from-chart-3 z-0
        to-chart-4 blur-xl opacity-100;
  }
  .feature-badge.highlight-skills::after {
    content: '';
    @apply absolute size-40 -inset-4 rounded-2xl bg-gradient-to-tr from-ring z-0
        to-chart-3 blur-xl opacity-100;
  }
}
