@theme {
  --color-header-background: oklch(0.4878 0.0454 220.92);
  --color-header-foreground: oklch(0.9751 0.0127 244.25);
  --color-hero-gradient-step1: #1fc7c6;
  --color-hero-gradient-step2: #1c7da3;
  --color-hero-gradient-step3: #1c74a0;

  --color-hero-button-gradient-step1: #26b8b2;
  --color-hero-button-gradient-step2: #10d3fa;
}
